h1{
    text-align: center;
    color:rgb(240, 192, 71)
}
.box {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: solid black;
  }
section {
    border: solid pink;
}
.after-box {
    clear: left;
  }
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 150px;
  }
  .next {
    background-color:rgb(240, 192, 71);
    color:black;
    margin-left:  370px;
  }
  .previous {
    background-color:rgb(240, 192, 71) ;
    color: black;
}
    footer{
    text-align: center;
    display: block;
}